<h1>Lost and Found</h1>

<section id="filters">
    <input type="text" placeholder="Search by name or tag...">
    <select id="statusFilter">
        <option value="ALL">All Statuses</option>
        <option value="LOST">Lost</option>
        <option value="FOUND">Found</option>
        <option value="FOUND_NOT_TAKEN">Found, not collected </option>
    </select>
</section>

<main id="itemList">
    <div class="item-card">
        <h3>Example Item Name</h3>
        <p>Description: Black wallet found near the park.</p>
        <p>Status: FOUND</p>
        <p>Posted: 2026-01-30</p>
        <p>Item distance: 5km</p>
        <p>more info</p>
        <p>Message reporter</p>
    </div>
</main>