<html lang="en">
    <head>
        <title>authentication page</title>
    </head>
    <body>
        <form>
            <label>
                username
                <input type="text" id="userName" name="username">
            </label>
            <label>
                password
                <input type="password" id="password" name="password">
            </label>
            <input type="submit" value="sign in" id="signIn">
        </form>
        <p id="signInWithGoogle">Sing in with Google</p>
        <p id="signInWithApple">Sign in with Apple</p>
    </body>
</html>